<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- define the dependency -->
	<bean id="practiceAdvice"
 		class="com.greatlearning.springdemo.PracticeAdvice">	 		
 	</bean>
	
 	<bean id="cricketCoach"
 		class="com.greatlearning.springdemo.CricketCoach">	
 		
 		<!-- set up constructor injection --> 		
 		<constructor-arg ref="practiceAdvice"/>
 	</bean>

    <!-- 
    <bean id="footballCoach"
 		class="com.greatlearning.springdemo.FootballCoach">	 
 		
 		<constructor-arg ref="practiceAdvice"/>
 	</bean>
 				
     -->

</beans>





